body{
	background: linear-gradient(135deg, #00ffc3, #0097fc);
}

.appbody{
	background-color: #fffce2;
	width:300px;
	height: 650px;
	margin: 0 auto;
	margin-top: -30px;
	box-shadow: 5px 3px 15px #ccc;
}

.the-title{
	text-align: center;
	font-family: 'Caveat Brush', cursive;
	font-size: 48px;
	padding-top: 42px;
	margin-top: 0;
	color: #474747;
}

.container{
	text-align: center;
	margin-top: 35px;
}

#alert{
	height: 22px;
	margin-top: -10px;
	font-family: 'Merriweather', serif;
	font-size: 22px;
	color: #ff3d7d;
	text-align: center;
}

.row{
	display: block;
}

.box{
	vertical-align: top;
	border:3px solid #939393;
	width: 80px;
	height: 80px;
	display: inline-block;
	margin:0 auto;
}

#box0{
	border-top: none;
	border-left: none; 
}

#box1{
	border-top: none; 
}

#box2{
	border-top: none;
	border-right: none; 
}

#box3{
	border-left: none; 
}

#box5{
	border-right: none; 
}

#box6{
	border-left: none; 
	border-bottom: none;
}

#box7{
	border-bottom: none;
}

#box8{
	border-right: none; 
	border-bottom: none;
}

.mark{
	font-family: 'Caveat Brush', cursive;
	font-size: 68px;
	margin-top: -10px;
	color: #ff6600;
}

#buttons{
	margin-top: 45px; 
}

.player-btn{
	padding:5px 25px;
	border-radius: 5px;
	border: none;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Merriweather', serif;
	font-size: 18px;
	color: #fff;
	background-color: #0097fc;
}

.player-btn:active{
	background-color: #00b6ff;
}